doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{pageTitle}
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    style.
      .navbar {
        background-color: black;
      }
      .btn-add-todo {
        background-color: #28a745;
        border-color: #28a745;
        color: white; 
      }
      .btn-add-todo:hover {
        background-color: #218838;
        border-color: #1e7e34;
      }
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      a.navbar-brand(href="#") Todo App
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href="addTodosScreen", class="btn btn-add-todo") Add Todo
          li.nav-item(style="margin-left: 10px;")
            form(action="/logout", method="POST")
              input(type="hidden", name="_csrf", value=csrfToken)
              button.btn.btn-outline-danger(type="submit") Logout
    .container
      h1 Add Todo

      form(action="/addTodosRequest", method="POST")
        .form-group
          label(for="todo") Todo:
          input#todo.form-control(type="text", name="todo", required)
        .form-group
          label(for="date") Date:
          input#date.form-control(type="date", name="todoDate", required)
        button.btn.btn-success(type="submit") Add Todo

    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
    style.
      .navbar-nav {
        margin-left: auto;
      }
      .nav-link.active {
        font-weight: bold;
      }
